# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Pipenv / virtualenv
env/
venv/
ENV/
.env
*.env

# Documentos e relatórios temporários
*.log
*.tmp
*.bak
*.swp
*.out
*.aux
*.toc
*.pdf
*.pptx
*.odt
*.rtf
*.tex

# IDEs e editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.code-workspace
*.iml
*.ipr
*.iws